<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ShoppingCart</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.listener.TimeOutListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.listener.ConnectionContext</listener-class>
  </listener>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/advjava</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>1234</param-value>
  </context-param>
  <filter>
    <filter-name>CheckPassword</filter-name>
    <filter-class>com.filter.CheckPasswordFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckPassword</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AddDomain</filter-name>
    <filter-class>com.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddDomain</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Servlets.loginvalidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopBook</servlet-name>
    <servlet-class>com.Servlets.BookPicker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopBook</servlet-name>
    <url-pattern>/Shop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Calculate</servlet-name>
    <servlet-class>com.Servlets.Calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculate</servlet-name>
    <url-pattern>/CalPrice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Invalidate</servlet-name>
    <servlet-class>com.Servlets.Invalidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invalidate</servlet-name>
    <url-pattern>/Inval</url-pattern>
  </servlet-mapping>
</web-app>